
.header {
    text-align: center;
    margin-top: 18rem;

}

.name h2 {
    display: inline-block;
    overflow: hidden;
    max-width: 500px;
    border-right: .15em solid orange;
    margin: 0 auto;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: typing 3.5s steps(100, end),
    blink-caret .75s step-end infinite;

}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}

#svg-bubbles {
    display: block;
    width: 800px;
    height: 600px;
    margin: 35px;
}

@media (max-width: 917px) {
    .hide-mobile {
        display: none !important;
    }

    .name h2 {
        white-space: normal;
    }

    .cards {
        margin-top: 11rem !important;
    }
}

@media (min-width: 0px) {
    /* Navbar */
    .navbar + .docs-section {
        border-top-width: 0;
        margin-top: 50px;
    }

    .navbar,
    .navbar-spacer {
        display: block;
        width: 100%;
        height: 6.5rem;
        background: #fff;
        margin-top: 80px;
        z-index: 99;
        border-top: 4px solid turquoise;
    }

    .navbar-spacer {
        display: none;
    }

    .navbar > .container {
        width: 100%;
    }

    .navbar-list {
        list-style: none;
        margin-bottom: 0;
    }

    .navbar-item {
        position: relative;
        display: inline;
        margin-bottom: 0;
    }

    .navbar-link {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: .2rem;
        padding-left: 40px;
        padding-top: 3%;
        padding-bottom: 3%;
        padding-right: 40px;
        text-decoration: none;
        line-height: 6.5rem;
        color: #222;
    }

    .navbar-link:hover {
        background: turquoise;
        color: white;
    }

    .navbar-link.active {
        color: #33C3F0;
    }

    .has-docked-nav .navbar {
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
        border-bottom: 4px solid turquoise;
        border-top: none;

    }

    .has-docked-nav .navbar-spacer {
        display: block;
    }

    /* Re-overiding the width 100% declaration to match size of % based container */
    .has-docked-nav .navbar > .container {
        width: 80%;
    }
}

/**************************
          CARDS
**************************/

.cards {
    margin-top: 15rem;
}

.card {
    min-width: 250px;
    height: auto;
    min-height: 180px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.card .title {
    background-color: turquoise;
    background: repeating-linear-gradient(45deg, #53d9cb, #56e1d3 12px, #1bae9e 121px, #05bbd9 11px);
    color: #f6fffe;
    margin-bottom: 0;
}

.blue .title {
    background: repeating-linear-gradient(45deg, #2196F3, #1f91ec 12px, #2884cd 121px, #05bbd9 11px);
}

.blue .tag:hover {
    background-color: #2196F3;
    color: white;
}

.blue .button {
    background: #2196F3;
}

.yellow .title {
    background: repeating-linear-gradient(45deg, #FFEB3B, #FFEB3B 12px, #eeca49 121px, #3F51B5 11px);
    color: #1e1d1dcc;
}

.yellow .tag:hover {
    background: #FFEB3B;
    color: black;
}

.yellow .button {
    background: #FFEB3B;
    color: black;
}

.orange .title {
    background: repeating-linear-gradient(45deg, #de3905, #FF5722 12px, #FF5722 121px, #05bbd9 11px);
}

.orange .tag:hover {
    background: #de3905;
    color: white;
}

.orange .button {
    background: #de3905;
}

.card .title h3 {
    font-size: 18px;
    font-family: "Google Sans", "Futura", "Open Sans", sans-serif;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: bold;
}

.card .description {
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 13px;
    font-family: "Roboto", sans-serif
}

/**************************
          TAGS
**************************/

.tags {
    margin-top: 10px;
    text-align: left;
    margin-left: 25px;
}

.tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    font-size: 10px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.tag:hover {
    background-color: turquoise;
    color: white;
}

.tag:hover::after {
    border-left-color: turquoise;
}

/**************************
       CARD BUTTONS
**************************/

.button {
    float: left;
    margin-top: 32px;
    margin-bottom: 10px;
    margin-right: 20px;
    text-decoration: none;
    background: #2570ce;
    color: white;
    border-radius: 4px;
    font-size: 11px;
    border: none;
}

.button:hover {
    background: #2979d1;
    color: white;
}

/**************************
      NON-CS Cards
**************************/

#architecture-card-image {
    background: url(../images/arch1.png);

}

#ngp-card-image {
    background:  url(../images/sts-poster.png);

}

#ccp-card-image {
    background:  url(../images/flyerccp.png);
}

#placeholder-card-image {
    background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
}

.left-image {
    min-height: 265px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.non-cs-card-title h3 {
    text-align: left;
    padding-top: 25px;
    font-family: "Google Sans", "Futura", sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 0;
}

.non-cs-card-title h5 {
    padding-top: 5px;
    text-align: left;
    font-family: "Google Sans", "Futura", sans-serif;
    font-size: 17px;
    color: #6f6f6f;
}

.non-cs-card-desc {
    padding-top: 5px;
    font-size: 14px;
    text-align: left;
    padding-right: 25px;
    font-family: "Lato",sans-serif;
    color: #222
}

.card {
}

@media (max-width: 543px) {
    .non-cs-card-title {
        padding: 0 20px;
        padding-bottom: 20px;

    }
}