<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
      {{ page.title }}
    </title>
    <meta name="viewport" content="width=device-width">
    
    <!-- Custom Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    
  </head>
  <body>
    <header>
      <a href="/">
        <h1 class="title active drk">
          {{ site.name }}
        </h1>
      </a>
      <nav>
        <ul>
          <li class="item ">
            <a href="/">
              Home
            </a>
          </li>
          <li class="item ">
            <a href="/posts/">
              Posts
            </a>
          </li>
          <li class="item ">
            <a href="/about/">
              About
            </a>
          </li>
          <li class="item ">
            <a href="/python-challenges/">
              Python-Challenges
            </a>
           </li> 

          <li class="item ">
            <a href="https://github.com/hassaanaliw/GitInfo">
              GitInfo
            </a>
           </li>  
        <li class="item ">
            <a href="https://github.com/hassaanaliw/hassaanaliw.github.io">
              Website-Source
            </a>
           </li>   

        </ul>
      </nav>
    </header>
    
    {{ content }}
    <hr>
<footer>
<div>&#169 {{ "Hassaan Ali Wattoo" }}</div>





<a href="http://github.com/hassaanaliw"><img src="/images/GitHub.png" alt="HTML tutorial" height = "100" width = "100"  ></a>
<a href="mailto:hassaanaliw@gmail.com"><img src="/images/Gmail.png" alt="HTML tutorial" height = "100" width = "100" ></a>
<a href="https://www.facebook.com/hassaan.wattoo"><img src="/images/facebook.png" alt="HTML tutorial" height = "100" width = "100"  ></a>
</footer>
   
  
</body>
</html>
