---
layout: default
---

<div class="post">
  <a href="{{page.url}}" style="font-size:33px; padding-bottom:12dp">{{ page.title }}</a><br/>
  <a href="{{page.url}}">{{ page.date | date_to_string}}</a><br/>
  <a href="/about">Hassaan Ali Wattoo</a>
  {{ content }}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

<style type="text/css">
 
	  #share-buttons img {
	  width: 64px;
	  padding: 5px;
	  border: 0;
	  box-shadow: 0;
	  display: inline;
	  }
	  
</style>

<div id="share-buttons" style="padding-top:50px;display: inline;padding-left: 250px;">
 
	<!-- Facebook -->
	<a href="http://www.facebook.com/sharer.php?u=http://hassaanaliw.github.io{{page.url}}" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
 
	<!-- Twitter -->
	<a href="http://twitter.com/share?url=http://hassaanaliw.github.io{{page.url}}&text=Reading {{page.title}}&hashtags=programming" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>
	
	<a href="https://plus.google.com/share?url=http://hassaanaliw.github.io{{page.url}}" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/google.png" alt="Google" /></a>

</div>

